Hello {{{ NAME }}}!

You've just created the {{{ ROOMTYPE }}} room {{{ ROOMURI }}} on Gitter.

You can forward this email to people you want to join.

Or just share the URL: {{{ ROOMURL }}}

{{{ ORGNOTE }}}

To unsubscribe from these notifications, click this link {{{ UNSUB }}}.
