Hello stranger!

Forgive the intrusion, but {{{ SENDER }}} just invited you to the {{{ ROOMURI }}} chat on Gitter.

Click here to join the conversation: https://gitter.im/{{{ ROOMURI }}}.

What is Gitter you ask? Reasonable question. Gitter is where developers come to talk. We host thousands of free public communities where software developers around the world come together to interact. We also offer private conversations for teams and businesses.

We built Gitter specifically for developers, with awesome features like markdown support and syntax highlighting as well as deep integration with GitHub and other services.

We hope you'll love it.

You can find out more at https://gitter.im
